Repository swiftlang/swift-docc, pull requests merged in 2024-07, with the labels that each got.

#959 Compute beta platform information for non-symbol documentation
  Sources/SwiftDocC/Model/Rendering/DocumentationContentRenderer.swift
  Sources/SwiftDocC/Model/Rendering/Symbol/AvailabilityRenderMetadataItem.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/AutomaticDirectiveConvertible.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/DirectiveArgumentValueConvertible.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/DirectiveArgumentWrapper.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/DirectiveMirror.swift
  Sources/SwiftDocC/Semantics/General Purpose Analyses/HasArgumentOfType.swift
  Sources/SwiftDocC/Semantics/Metadata/Availability.swift
  Tests/SwiftDocCTests/Model/SemaToRenderNodeTests.swift
  Tests/SwiftDocCTests/Rendering/PlatformAvailabilityTests.swift
  Tests/SwiftDocCTests/Rendering/SemanticVersionStringRepresentationTests.swift
  Tests/SwiftDocCTests/Semantics/MetadataAvailabilityTests.swift
Labels: source breaking

#972 [6.0] Compute beta platform information for non-symbol documentation
  Sources/SwiftDocC/Model/Rendering/DocumentationContentRenderer.swift
  Sources/SwiftDocC/Model/Rendering/Symbol/AvailabilityRenderMetadataItem.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/AutomaticDirectiveConvertible.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/DirectiveArgumentValueConvertible.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/DirectiveArgumentWrapper.swift
  Sources/SwiftDocC/Semantics/DirectiveInfrastructure/DirectiveMirror.swift
  Sources/SwiftDocC/Semantics/General Purpose Analyses/HasArgumentOfType.swift
  Sources/SwiftDocC/Semantics/Metadata/Availability.swift
  Tests/SwiftDocCTests/Model/SemaToRenderNodeTests.swift
  Tests/SwiftDocCTests/Rendering/PlatformAvailabilityTests.swift
  Tests/SwiftDocCTests/Rendering/SemanticVersionStringRepresentationTests.swift
  Tests/SwiftDocCTests/Semantics/MetadataAvailabilityTests.swift
Labels: source breaking

#960 Remove unused code in RenderNodeTranslator
  Sources/SwiftDocC/Converter/DocumentationContextConverter.swift
  Sources/SwiftDocC/Converter/DocumentationNodeConverter.swift
  Sources/SwiftDocC/Infrastructure/DocumentationConverter.swift
  Sources/SwiftDocC/Model/Rendering/RenderNodeTranslator.swift
  Tests/SwiftDocCTests/Converter/DocumentationContextConverterTests.swift
  Tests/SwiftDocCTests/Converter/RenderNodeCodableTests.swift
  Tests/SwiftDocCTests/Converter/TopicRenderReferenceEncoderTests.swift
  Tests/SwiftDocCTests/Indexing/IndexingTests.swift
  Tests/SwiftDocCTests/Indexing/NavigatorIndexTests.swift
  Tests/SwiftDocCTests/Indexing/RenderIndexTests.swift
  Tests/SwiftDocCTests/Infrastructure/AnchorSectionTests.swift
  Tests/SwiftDocCTests/Infrastructure/AutoCapitalizationTests.swift
  Tests/SwiftDocCTests/Infrastructure/AutomaticCurationTests.swift
  Tests/SwiftDocCTests/Infrastructure/DocumentationContext/DocumentationContextTests.swift
  Tests/SwiftDocCTests/Infrastructure/DocumentationCuratorTests.swift
  Tests/SwiftDocCTests/Infrastructure/ExternalPathHierarchyResolverTests.swift
  Tests/SwiftDocCTests/Infrastructure/ExternalReferenceResolverTests.swift
  Tests/SwiftDocCTests/Infrastructure/NodeTagsTests.swift
  Tests/SwiftDocCTests/Infrastructure/ReferenceResolverTests.swift
  Tests/SwiftDocCTests/LinkTargets/LinkDestinationSummaryTests.swift
  Tests/SwiftDocCTests/Model/RenderHierarchyTranslatorTests.swift
  Tests/SwiftDocCTests/Model/RenderNodeDiffingBundleTests.swift
  Tests/SwiftDocCTests/Model/RenderNodeSerializationTests.swift
  Tests/SwiftDocCTests/Model/SemaToRenderNodeMultiLanguageTests.swift
  Tests/SwiftDocCTests/Model/SemaToRenderNodeTests.swift
  Tests/SwiftDocCTests/Rendering/AutomaticSeeAlsoTests.swift
  Tests/SwiftDocCTests/Rendering/AvailabilityRenderOrderTests.swift
  Tests/SwiftDocCTests/Rendering/ConstraintsRenderSectionTests.swift
  Tests/SwiftDocCTests/Rendering/DeclarationsRenderSectionTests.swift
  Tests/SwiftDocCTests/Rendering/DefaultAvailabilityTests.swift
  Tests/SwiftDocCTests/Rendering/DefaultCodeListingSyntaxTests.swift
  Tests/SwiftDocCTests/Rendering/DeprecationSummaryTests.swift
  Tests/SwiftDocCTests/Rendering/ExternalLinkTitleTests.swift
  Tests/SwiftDocCTests/Rendering/HeadingAnchorTests.swift
  Tests/SwiftDocCTests/Rendering/MentionsRenderSectionTests.swift
  Tests/SwiftDocCTests/Rendering/PageKindTests.swift
  Tests/SwiftDocCTests/Rendering/PlatformAvailabilityTests.swift
  Tests/SwiftDocCTests/Rendering/RenderMetadataTests.swift
  Tests/SwiftDocCTests/Rendering/RenderNodeTranslatorSymbolVariantsTests.swift
  Tests/SwiftDocCTests/Rendering/RenderNodeTranslatorTests.swift
  Tests/SwiftDocCTests/Rendering/RoleTests.swift
  Tests/SwiftDocCTests/Rendering/SampleDownloadTests.swift
  Tests/SwiftDocCTests/Rendering/TermListTests.swift
  Tests/SwiftDocCTests/Semantics/DoxygenTests.swift
  Tests/SwiftDocCTests/Semantics/VideoMediaTests.swift
  Tests/SwiftDocCTests/XCTestCase+LoadingTestData.swift
  Tests/SwiftDocCUtilitiesTests/ConvertActionIndexerTests.swift
Labels: code cleanup

#961 Remove unused code in NavigatorTree
  Sources/SwiftDocC/Indexing/Navigator/NavigatorIndex.swift
  Sources/SwiftDocC/Indexing/Navigator/NavigatorTree.swift
  Tests/SwiftDocCTests/Indexing/NavigatorIndexTests.swift
Labels: code cleanup

#976 Move contributions section earlier in the README
  README.md
Labels: documentation

#977 Update links for repos that have moved to the swiftlang organization so far
  CONTRIBUTING.md
  README.md
  Sources/SwiftDocC/Indexing/Navigator/RenderNode+NavigatorIndex.swift
  Sources/SwiftDocC/Infrastructure/DocumentationContext.swift
  Sources/SwiftDocC/Infrastructure/External Data/OutOfProcessReferenceResolver.swift
  Sources/SwiftDocC/Infrastructure/Link Resolution/PathHierarchy.swift
  Sources/SwiftDocC/Infrastructure/Symbol Graph/SymbolReference.swift
  Sources/SwiftDocC/Model/Rendering/DocumentationContentRenderer.swift
  Sources/SwiftDocC/Model/Rendering/RenderContentCompiler.swift
  Sources/SwiftDocC/Model/Rendering/RenderNodeTranslator.swift
  Sources/SwiftDocC/Model/SourceLanguage.swift
  Sources/SwiftDocC/Semantics/Metadata/Availability.swift
  Sources/SwiftDocC/Semantics/ReferenceResolver.swift
  Sources/SwiftDocC/Semantics/Symbol/PlatformName.swift
  Sources/docc/DocCDocumentation.docc/customizing-the-appearance-of-your-documentation-pages.md
  Sources/docc/DocCDocumentation.docc/distributing-documentation-to-other-developers.md
  Sources/docc/DocCDocumentation.docc/documenting-a-swift-framework-or-package.md
  Tests/SwiftDocCTests/DocumentationService/ConvertService/ConvertServiceTests.swift
  Tests/SwiftDocCTests/Infrastructure/DocumentationContext/DocumentationContextTests.swift
  Tests/SwiftDocCTests/Semantics/MetadataAvailabilityTests.swift
  bin/update-gh-pages-documentation-site
Labels: documentation

#990 Available directive docs
  Sources/SwiftDocC/Semantics/Metadata/Availability.swift
  Sources/SwiftDocC/Semantics/Symbol/DeprecationSummary.swift
  Sources/docc/DocCDocumentation.docc/DocC.symbols.json
  Sources/docc/DocCDocumentation.docc/Reference Syntax/API Reference Syntax/Metadata.md
Labels: documentation
