Repository swiftlang/swift-docc, pull requests merged in 2024-02, with the labels that each got.

#799 Remove memberwise initializers for AutomaticDirectiveConvertible types.
  Sources/SwiftDocC/Semantics/Media/ImageMedia.swift
  Sources/SwiftDocC/Semantics/Media/VideoMedia.swift
  Sources/SwiftDocC/Semantics/Redirect.swift
  Sources/SwiftDocC/Semantics/Tutorial/XcodeRequirement.swift
Labels: code cleanup

#811 Add more information about where to find the Redirected values
  Sources/SwiftDocC/Semantics/Redirect.swift
  Sources/docc/DocCDocumentation.docc/DocC.symbols.json
Labels: documentation

#813 Document syntax for table column alignment and table cell spanning
  Sources/docc/DocCDocumentation.docc/Assets/table-align-center.svg
  Sources/docc/DocCDocumentation.docc/Assets/table-align-leading.svg
  Sources/docc/DocCDocumentation.docc/Assets/table-align-trailing.svg
  Sources/docc/DocCDocumentation.docc/DocC Documentation.md
  Sources/docc/DocCDocumentation.docc/adding-tables-of-data.md
  Sources/docc/DocCDocumentation.docc/other-formatting-options.md
Labels: documentation

#756 Support using the test file system in SwiftDocC tests
  Package.swift
  Sources/SwiftDocC/Infrastructure/Diagnostics/DiagnosticConsoleWriter.swift
  Sources/SwiftDocC/Infrastructure/Diagnostics/DiagnosticEngine.swift
  Sources/SwiftDocC/Utility/FileManagerProtocol.swift
  Sources/SwiftDocC/Utility/FoundationExtensions/FileManager+directoryExists.swift
  Sources/SwiftDocCTestUtilities/FilesAndFolders.swift
  Sources/SwiftDocCTestUtilities/TestFileSystem.swift
  Sources/SwiftDocCUtilities/Action/Actions/Convert/ConvertAction.swift
  Sources/SwiftDocCUtilities/Action/Actions/Convert/ConvertFileWritingConsumer.swift
  Sources/SwiftDocCUtilities/Action/Actions/Convert/CoverageDataEntry+generateSummary.swift
  Sources/SwiftDocCUtilities/Action/Actions/Convert/JSONEncodingRenderNodeWriter.swift
  Sources/SwiftDocCUtilities/Action/Actions/CoverageAction.swift
  Sources/SwiftDocCUtilities/Action/Actions/EmitGeneratedCurationAction.swift
  Sources/SwiftDocCUtilities/Action/Actions/Init/InitAction.swift
  Sources/SwiftDocCUtilities/Action/Actions/TransformForStaticHostingAction.swift
  Sources/SwiftDocCUtilities/ArgumentParsing/ActionExtensions/Action+performAndHandleResult.swift
  Sources/SwiftDocCUtilities/Transformers/StaticHostableTransformer.swift
  Sources/SwiftDocCUtilities/Utility/DirectoryMonitor.swift
  Tests/SwiftDocCTests/Diagnostics/DiagnosticConsoleWriterDefaultFormattingTest.swift
  Tests/SwiftDocCUtilitiesTests/ConvertActionStaticHostableTests.swift
  Tests/SwiftDocCUtilitiesTests/ConvertActionTests.swift
  Tests/SwiftDocCUtilitiesTests/EmitGeneratedCurationsActionTests.swift
  Tests/SwiftDocCUtilitiesTests/FolderStructure.swift
  Tests/SwiftDocCUtilitiesTests/IndexActionTests.swift
  Tests/SwiftDocCUtilitiesTests/Init/InitActionTests.swift
  Tests/SwiftDocCUtilitiesTests/StaticHostableTransformerTests.swift
  Tests/SwiftDocCUtilitiesTests/TransformForStaticHostingActionTests.swift
  Tests/SwiftDocCUtilitiesTests/Utility/TestFileSystemTests.swift
Labels: code cleanup

#800 Document additional Objective-C syntax highlighting spelling
  Sources/docc/DocCDocumentation.docc/formatting-your-documentation-content.md
Labels: documentation

#810 Fix broken link and missing space in @Resources documentation
  Sources/docc/DocCDocumentation.docc/Reference Syntax/Tutorials Syntax/Top-Level Directives/Tutorials/Resources/Resources.md
Labels: documentation

#824 Make it easier to support other link disambiguation in the future
  Sources/SwiftDocC/Infrastructure/Link Resolution/PathHierarchy+Error.swift
  Sources/SwiftDocC/Infrastructure/Link Resolution/PathHierarchy+Find.swift
  Sources/SwiftDocC/Infrastructure/Link Resolution/PathHierarchy+PathComponent.swift
  Sources/SwiftDocC/Infrastructure/Link Resolution/PathHierarchy.swift
  Tests/SwiftDocCTests/Infrastructure/PathHierarchyTests.swift
Labels: code cleanup

#817 Use a more detailed page type for C++ namespaces in navigator index
  Sources/SwiftDocC/Indexing/Navigator/NavigatorIndex.swift
  Sources/SwiftDocC/Indexing/RenderIndexJSON/RenderIndex.swift
  Tests/SwiftDocCTests/Indexing/NavigatorIndexTests.swift
  Tests/SwiftDocCTests/Indexing/RenderIndexTests.swift
Labels: source breaking

#831 Update year in footer for hosted documentation to 2024
  Sources/docc/DocCDocumentation.docc/footer.html
Labels: documentation
